/classroom code
/classroom code - Copy
/FrontEndFolderTree.zip
/index.js
/index4.html
/JavaScript.docx
/Linked in Week 1.docx
/Linked in Week 1.pdf
/Research Week 1.docx
/Research Week 1.pdf
/screenshots.pdf
/VariablesAndOperations.js
/Week 2 research.pdf
/Week 3 code
/week 3 code index.js
/Week 3 code.html
/Week 3 code.js
/week 3 index.html
/Week 3 RESEARCH.pdf
/week 3 video.pdf
/Week-01-Coding-Assignment-3.pdf
/Week-02-Career-Services-Instructions-1.docx
/Week-02-Career-Services.pdf
/Week0